.DS_Store
*/bin/
*./bin/*
*/bin/*
*/.idea/*
*/obj
*/*.sln.DotSettings.user
./.DS_Store
Assignment3/UnitTests/Properties/
Assignment3/UnitTests/bin/
Assignment3/UnitTests/obj/
Assignment3/realwebthing/wwwroot/
Assignment3/realwebthing/bin/
Assignment3/realwebthing/obj/
*/packages/
*/packages.config
*/Properties
chess/
apiController.cs
