.DS_Store
*/bin/
*./bin/*
*/bin/*
*/.idea/*
*/obj
*/*.csproj
*/*.sln.DotSettings.user
./.DS_Store
Assignment3/libraryTests/Properties/
Assignment3/libraryTests/bin/
Assignment3/libraryTests/obj/
Assignment3/libraryTests/libraryTests.csproj
Assignment3/realwebthing/wwwroot/
Assignment3/realwebthing/bin/
Assignment3/realwebthing/obj/
Assignment3/realwebthing/realwebthing.csproj
Assignment3/realwebth
*/packages/
*/packages.config
*/Properties
