.DS_Store
*/bin/
*./bin/*
*/bin/*
*/.idea/*
*/obj
*/*.csproj
*/*.sln.DotSettings.user
./.DS_Store
Assignment3/libraryTests/Properties/
Assignment3/libraryTests/bin/
Assignment3/libraryTests/obj/
Assignment3/libraryTests/libraryTests.csproj
Assignment3/libraryTests/packages.config
*/packages/
*/packages.config
*/Properties
